/* ELEMENT GETTER */


body {
    background-image: url("../img/background.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

/* ID GETTER */

/* CLASS GETTER */

  

  
